*
{
	margin: 0;
	padding: 0;
}

/*ANIMACIONES*/

@keyframes changeColor
{
	0% {background: linear-gradient(0deg, #4B90BF, #A5BCF3);}
	1%	{background: linear-gradient(36deg, #4B90BF, #A5BCF3);}
	2%	{background: linear-gradient(72deg, #4B90BF, #A5BCF3);}
	3%	{background: linear-gradient(108deg, #4B90BF, #A5BCF3);}
	4%	{background: linear-gradient(144deg, #4B90BF, #A5BCF3);}
	5%	{background: linear-gradient(180deg, #4B90BF, #A5BCF3);}
	6%	{background: linear-gradient(216deg, #4B90BF, #A5BCF3);}
	7%	{background: linear-gradient(252deg, #4B90BF, #A5BCF3);}
	8%	{background: linear-gradient(288deg, #4B90BF, #A5BCF3);}
	9%	{background: linear-gradient(324deg, #4B90BF, #A5BCF3);}
	10% {background: linear-gradient(360deg, #4B90BF, #A5BCF3);}

	11%	{background: linear-gradient(36deg, #4C4BBF, #BDA5F3);}
	12%	{background: linear-gradient(72deg, #4C4BBF, #BDA5F3);}
	13%	{background: linear-gradient(108deg, #4C4BBF, #BDA5F3);}
	14%	{background: linear-gradient(144deg, #4C4BBF, #BDA5F3);}
	15%	{background: linear-gradient(180deg, #4C4BBF, #BDA5F3);}
	16%	{background: linear-gradient(216deg, #4C4BBF, #BDA5F3);}
	17%	{background: linear-gradient(252deg, #4C4BBF, #BDA5F3);}
	18%	{background: linear-gradient(288deg, #4C4BBF, #BDA5F3);}
	19%	{background: linear-gradient(324deg, #4C4BBF, #BDA5F3);}
	20% {background: linear-gradient(360deg, #4C4BBF, #BDA5F3);}

	21%	{background: linear-gradient(36deg, #914BBF, #ECA5F3);}
	22%	{background: linear-gradient(72deg, #914BBF, #ECA5F3);}
	23%	{background: linear-gradient(108deg, #914BBF, #ECA5F3);}
	24%	{background: linear-gradient(144deg, #914BBF, #ECA5F3);}
	25%	{background: linear-gradient(180deg, #914BBF, #ECA5F3);}
	26%	{background: linear-gradient(216deg, #914BBF, #ECA5F3);}
	27%	{background: linear-gradient(252deg, #914BBF, #ECA5F3);}
	28%	{background: linear-gradient(288deg, #914BBF, #ECA5F3);}
	29%	{background: linear-gradient(324deg, #914BBF, #ECA5F3);}
	30% {background: linear-gradient(360deg, #914BBF, #ECA5F3);}

	31%	{background: linear-gradient(36deg, #BF4BA7, #F3A5CC);}
	32%	{background: linear-gradient(72deg, #BF4BA7, #F3A5CC);}
	33%	{background: linear-gradient(108deg, #BF4BA7, #F3A5CC);}
	34%	{background: linear-gradient(144deg, #BF4BA7, #F3A5CC);}
	35%	{background: linear-gradient(180deg, #BF4BA7, #F3A5CC);}
	36%	{background: linear-gradient(216deg, #BF4BA7, #F3A5CC);}
	37%	{background: linear-gradient(252deg, #BF4BA7, #F3A5CC);}
	38%	{background: linear-gradient(288deg, #BF4BA7, #F3A5CC);}
	39%	{background: linear-gradient(324deg, #BF4BA7, #F3A5CC);}
	40% {background: linear-gradient(360deg, #BF4BA7, #F3A5CC);}

	41%	{background: linear-gradient(36deg, #BF4B62, #F3ADA5);}
	42%	{background: linear-gradient(72deg, #BF4B62, #F3ADA5);}
	43%	{background: linear-gradient(108deg, #BF4B62, #F3ADA5);}
	44%	{background: linear-gradient(144deg, #BF4B62, #F3ADA5);}
	45%	{background: linear-gradient(180deg, #BF4B62, #F3ADA5);}
	46%	{background: linear-gradient(216deg, #BF4B62, #F3ADA5);}
	47%	{background: linear-gradient(252deg, #BF4B62, #F3ADA5);}
	48%	{background: linear-gradient(288deg, #BF4B62, #F3ADA5);}
	49%	{background: linear-gradient(324deg, #BF4B62, #F3ADA5);}
	50% {background: linear-gradient(360deg, #BF4B62, #F3ADA5);}

	51%	{background: linear-gradient(36deg, #BF7A4B, #F3DCA5);}
	52%	{background: linear-gradient(72deg, #BF7A4B, #F3DCA5);}
	53%	{background: linear-gradient(108deg, #BF7A4B, #F3DCA5);}
	54%	{background: linear-gradient(144deg, #BF7A4B, #F3DCA5);}
	55%	{background: linear-gradient(180deg, #BF7A4B, #F3DCA5);}
	56%	{background: linear-gradient(216deg, #BF7A4B, #F3DCA5);}
	57%	{background: linear-gradient(252deg, #BF7A4B, #F3DCA5);}
	58%	{background: linear-gradient(288deg, #BF7A4B, #F3DCA5);}
	59%	{background: linear-gradient(324deg, #BF7A4B, #F3DCA5);}
	60% {background: linear-gradient(360deg, #BF7A4B, #F3DCA5);}

	61%	{background: linear-gradient(36deg, #BEBF4B, #DBF3A5);}
	62%	{background: linear-gradient(72deg, #BEBF4B, #DBF3A5);}
	63%	{background: linear-gradient(108deg, #BEBF4B, #DBF3A5);}
	64%	{background: linear-gradient(144deg, #BEBF4B, #DBF3A5);}
	65%	{background: linear-gradient(180deg, #BEBF4B, #DBF3A5);}
	66%	{background: linear-gradient(216deg, #BEBF4B, #DBF3A5);}
	67%	{background: linear-gradient(252deg, #BEBF4B, #DBF3A5);}
	68%	{background: linear-gradient(288deg, #BEBF4B, #DBF3A5);}
	69%	{background: linear-gradient(324deg, #BEBF4B, #DBF3A5);}
	70% {background: linear-gradient(360deg, #BEBF4B, #DBF3A5);}

	71%	{background: linear-gradient(36deg, #79BF4B, #ACF3A5);}
	72%	{background: linear-gradient(72deg, #79BF4B, #ACF3A5);}
	73%	{background: linear-gradient(108deg, #79BF4B, #ACF3A5);}
	74%	{background: linear-gradient(144deg, #79BF4B, #ACF3A5);}
	75%	{background: linear-gradient(180deg, #79BF4B, #ACF3A5);}
	76%	{background: linear-gradient(216deg, #79BF4B, #ACF3A5);}
	77%	{background: linear-gradient(252deg, #79BF4B, #ACF3A5);}
	78%	{background: linear-gradient(288deg, #79BF4B, #ACF3A5);}
	79%	{background: linear-gradient(324deg, #79BF4B, #ACF3A5);}
	80% {background: linear-gradient(360deg, #79BF4B, #ACF3A5);}

	81%	{background: linear-gradient(36deg, #4BBF63, #A5F3CC);}
	82%	{background: linear-gradient(72deg, #4BBF63, #A5F3CC);}
	83%	{background: linear-gradient(108deg, #4BBF63, #A5F3CC);}
	84%	{background: linear-gradient(144deg, #4BBF63, #A5F3CC);}
	85%	{background: linear-gradient(180deg, #4BBF63, #A5F3CC);}
	86%	{background: linear-gradient(216deg, #4BBF63, #A5F3CC);}
	87%	{background: linear-gradient(252deg, #4BBF63, #A5F3CC);}
	88%	{background: linear-gradient(288deg, #4BBF63, #A5F3CC);}
	89%	{background: linear-gradient(324deg, #4BBF63, #A5F3CC);}
	90% {background: linear-gradient(360deg, #4BBF63, #A5F3CC);}

	91%	{background: linear-gradient(36deg, #4BBFA8, #A5EBF3);}
	92%	{background: linear-gradient(72deg, #4BBFA8, #A5EBF3);}
	93%	{background: linear-gradient(108deg, #4BBFA8, #A5EBF3);}
	94%	{background: linear-gradient(144deg, #4BBFA8, #A5EBF3);}
	95%	{background: linear-gradient(180deg, #4BBFA8, #A5EBF3);}
	96%	{background: linear-gradient(216deg, #4BBFA8, #A5EBF3);}
	97%	{background: linear-gradient(252deg, #4BBFA8, #A5EBF3);}
	98%	{background: linear-gradient(288deg, #4BBFA8, #A5EBF3);}
	99%	{background: linear-gradient(324deg, #4BBFA8, #A5EBF3);}
	100% {background: linear-gradient(360deg, #4BBFA8, #A5EBF3);}
}

@keyframes spin
{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes moveUpAndDown
{
	0% {transform: translateY(0%);}
	100% {transform: translateY(100%);}
}

@keyframes fadeIn
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut
{
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes shakeCocktail
{
	0% {transform: translateY(0%);}
	100% {transform: translateY(15%);}
}

@keyframes error
{
	0% {background-color: rgba(255, 0, 0, 0.8);}
	100% {background-color: rgba(0, 0, 0, 0);}
}

@keyframes tilt
{
	0% {transform: rotate(-10deg);}
	100% {transform: rotate(10deg);}
}

/*PANTALLA INTRODUCTORIA*/

#logo
{
	width: 70%;
	height: 40%;
	position: relative;
	left: 13%;
	top: -15%;
	animation: tilt 1s infinite alternate ease-in-out;
}

.intro
{
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 65%;
	animation: changeColor 15s infinite ease-in-out;
}

/*.intro>h1
{
	font-size: 2.8em;
	width: 8.3%;
	float: left;
	color: #A60300;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 3s infinite alternate;
	font-family: 'Oswald', sans-serif;
}

.intro>h2
{
	font-size: 2.6em;
	width: 8.3%;
	float: left;
	color: #CB4302;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 2.9s infinite alternate;
	font-family: 'Oswald', sans-serif;
}

.intro>h3
{
	font-size: 2.4em;
	width: 8.3%;
	float: left;
	color: #B27F05;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 2.8s infinite alternate;
	font-family: 'Oswald', sans-serif;
}

.intro>h4
{
	font-size: 2.2em;
	width: 8.5%;
	float: left;
	color: #5C0C35;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
	animation: moveUpAndDown 3.1s infinite alternate;
	font-family: 'Spectral SC', serif;
}*/

/*MENÚS*/

#loader
{
	width: 20%;
	height: 20%;
	float: right;
	top: 40%;
	left: 40%;
	position: fixed;
	animation: spin 1.5s linear infinite;
	z-index: 10;
}

.bebidas
{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background: linear-gradient(45deg, #638D99, #A4C7CB);*/
	background: linear-gradient(45deg, #4B90BF, #A5BCF3);
}

.divBebida
{
	width: 35%;
	height: 25%;
	position: relative;
	top: 5%;
	bottom: 5%;
	left: 7.5%;
	right: 10%;
	float: left;
	margin: 3%;
	text-align: center;
}

.tituloBebida
{
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.5em;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.imagen
{
	width: 100%;
	height: 80%;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 10px 0px rgba(99, 141, 153, 0.9);
}


.imagenPrincipal
{
	width: 100%;
	height: 30%;
	position: relative;
	top: 0;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 10% 20%;
}

.imagenCoctel
{
	width: 25%;
	height: 11.76%;
	position: relative;
	left: 5%;
	margin-right: 10%;
	float: left;
	border: 3px solid rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background: white;
}

.imagenCoctel+p
{
	width: 70%;
	height: 10%;
	position: relative;
	margin-top: 5%;
	text-align: left;
	font-family: 'Oswald', sans-serif;
}

#receta
{
	width: 80%;
	height: 80%;
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 10%;
	top: 5%;
	padding-left: 8%;
	box-sizing: border-box;
	background: #F1E599;
	box-shadow: 5px 5px 5px 0px rgba(139, 153, 126, 0.3);
	border-radius: 0 0 5% 0;
}

#receta>h1
{
	text-align: center;
	font-weight: bold;
	font-family: 'Vollkorn SC', serif;
	padding-right: 10%;
}

.ingredientes, .preparacion
{
	width: 100%;
	height: 40%;
	position: relative;
	border-top: 1px solid rgb(139, 153, 126);
	margin-top: 3%;
	font-family: 'Barlow Condensed', sans-serif;
}

#btnPlayPrincipal
{
	width: 50%;
	height: 15%;
	position: fixed;
	left: 26%;
	bottom: 5%;
	background: rgba(0, 128, 0, 0.7);
	border-radius: 45%;
	border: none;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

#btnPlay
{
	width: 48%;
	height: 10%;
	position: fixed;
	left: 26%;
	bottom: 5%;
	background: rgba(0, 128, 0, 0.7);
	border-radius: 45%;
	border: none;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.volver
{
	width: 12%;
	height: 8%;
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
	margin: none;
	border-radius: 50%;
}

/*JUEGO*/

#estanteria
{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	box-sizing: border-box;
	background: linear-gradient(#4B90BF, #A5BCF3);
}

.ingrediente
{
	width: 32%;
	height: 50%;
	margin: 0.5%;
	float: left;
}

#mesa
{
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 10%;
	background: linear-gradient(#A5BCF3, #4B90BF);
}

#recipiente
{
	width: 60%;
	height: 90%;
	position: relative;
	float: left;
	margin-left: 20%;
	margin-top: 5%;
}

footer
{
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	background: gray;
}

/*Modal*/

#modal
{
	display: none;
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
	width: 50%;
	height: 15%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 15% auto;
	margin-top: 30%;
	padding: 5%;
	border: 1px solid #888888;
	width: 80%;
	text-align: center;
	border-radius: 5%;
}

.close
{
	color: black;
	float: right;
	font-size: 1em;
	font-weight: bold;
	position: relative;
	bottom: 5%;
	right: 35%;
}