*
{
	margin: 0;
	padding: 0;
}

/*ANIMACIONES*/

@keyframes changeColor
{
	0% {background: linear-gradient(0deg, #638D99, #A4C7CB);}
	1%	{background: linear-gradient(36deg, #638D99, #A4C7CB);}
	2%	{background: linear-gradient(72deg, #638D99, #A4C7CB);}
	3%	{background: linear-gradient(108deg, #638D99, #A4C7CB);}
	4%	{background: linear-gradient(144deg, #638D99, #A4C7CB);}
	5%	{background: linear-gradient(180deg, #638D99, #A4C7CB);}
	6%	{background: linear-gradient(216deg, #638D99, #A4C7CB);}
	7%	{background: linear-gradient(252deg, #638D99, #A4C7CB);}
	8%	{background: linear-gradient(288deg, #638D99, #A4C7CB);}
	9%	{background: linear-gradient(324deg, #638D99, #A4C7CB);}
	10% {background: linear-gradient(360deg, #638D99, #A4C7CB);}
	11%	{background: linear-gradient(36deg, #636D99, #A4B0CB);}
	12%	{background: linear-gradient(72deg, #636D99, #A4B0CB);}
	13%	{background: linear-gradient(108deg, #636D99, #A4B0CB);}
	14%	{background: linear-gradient(144deg, #636D99, #A4B0CB);}
	15%	{background: linear-gradient(180deg, #636D99, #A4B0CB);}
	16%	{background: linear-gradient(216deg, #636D99, #A4B0CB);}
	17%	{background: linear-gradient(252deg, #636D99, #A4B0CB);}
	18%	{background: linear-gradient(288deg, #636D99, #A4B0CB);}
	19%	{background: linear-gradient(324deg, #636D99, #A4B0CB);}
	20% {background: linear-gradient(360deg, #636D99, #A4B0CB);}
	21%	{background: linear-gradient(36deg, #7A6399, #B0A4CB);}
	22%	{background: linear-gradient(72deg, #7A6399, #B0A4CB);}
	23%	{background: linear-gradient(108deg, #7A6399, #B0A4CB);}
	24%	{background: linear-gradient(144deg, #7A6399, #B0A4CB);}
	25%	{background: linear-gradient(180deg, #7A6399, #B0A4CB);}
	26%	{background: linear-gradient(216deg, #7A6399, #B0A4CB);}
	27%	{background: linear-gradient(252deg, #7A6399, #B0A4CB);}
	28%	{background: linear-gradient(288deg, #7A6399, #B0A4CB);}
	29%	{background: linear-gradient(324deg, #7A6399, #B0A4CB);}
	30% {background: linear-gradient(360deg, #7A6399, #B0A4CB);}
	31%	{background: linear-gradient(36deg, #996398, #C7A4CB);}
	32%	{background: linear-gradient(72deg, #996398, #C7A4CB);}
	33%	{background: linear-gradient(108deg, #996398, #C7A4CB);}
	34%	{background: linear-gradient(144deg, #996398, #C7A4CB);}
	35%	{background: linear-gradient(180deg, #996398, #C7A4CB);}
	36%	{background: linear-gradient(216deg, #996398, #C7A4CB);}
	37%	{background: linear-gradient(252deg, #996398, #C7A4CB);}
	38%	{background: linear-gradient(288deg, #996398, #C7A4CB);}
	39%	{background: linear-gradient(324deg, #996398, #C7A4CB);}
	40% {background: linear-gradient(360deg, #996398, #C7A4CB);}
	41%	{background: linear-gradient(36deg, #996377, #CBA4B7);}
	42%	{background: linear-gradient(72deg, #996377, #CBA4B7);}
	43%	{background: linear-gradient(108deg, #996377, #CBA4B7);}
	44%	{background: linear-gradient(144deg, #996377, #CBA4B7);}
	45%	{background: linear-gradient(180deg, #996377, #CBA4B7);}
	46%	{background: linear-gradient(216deg, #996377, #CBA4B7);}
	47%	{background: linear-gradient(252deg, #996377, #CBA4B7);}
	48%	{background: linear-gradient(288deg, #996377, #CBA4B7);}
	49%	{background: linear-gradient(324deg, #996377, #CBA4B7);}
	50% {background: linear-gradient(360deg, #996377, #CBA4B7);}
	51%	{background: linear-gradient(36deg, #996F63, #CBA8A4);}
	52%	{background: linear-gradient(72deg, #996F63, #CBA8A4);}
	53%	{background: linear-gradient(108deg, #996F63, #CBA8A4);}
	54%	{background: linear-gradient(144deg, #996F63, #CBA8A4);}
	55%	{background: linear-gradient(180deg, #996F63, #CBA8A4);}
	56%	{background: linear-gradient(216deg, #996F63, #CBA8A4);}
	57%	{background: linear-gradient(252deg, #996F63, #CBA8A4);}
	58%	{background: linear-gradient(288deg, #996F63, #CBA8A4);}
	59%	{background: linear-gradient(324deg, #996F63, #CBA8A4);}
	60% {background: linear-gradient(360deg, #996F63, #CBA8A4);}
	61%	{background: linear-gradient(36deg, #998F63, #CBBFA4);}
	62%	{background: linear-gradient(72deg, #998F63, #CBBFA4);}
	63%	{background: linear-gradient(108deg, #998F63, #CBBFA4);}
	64%	{background: linear-gradient(144deg, #998F63, #CBBFA4);}
	65%	{background: linear-gradient(180deg, #998F63, #CBBFA4);}
	66%	{background: linear-gradient(216deg, #998F63, #CBBFA4);}
	67%	{background: linear-gradient(252deg, #998F63, #CBBFA4);}
	68%	{background: linear-gradient(288deg, #998F63, #CBBFA4);}
	69%	{background: linear-gradient(324deg, #998F63, #CBBFA4);}
	70% {background: linear-gradient(360deg, #998F63, #CBBFA4);}
	71%	{background: linear-gradient(36deg, #829963, #BFCBA4);}
	72%	{background: linear-gradient(72deg, #829963, #BFCBA4);}
	73%	{background: linear-gradient(108deg, #829963, #BFCBA4);}
	74%	{background: linear-gradient(144deg, #829963, #BFCBA4);}
	75%	{background: linear-gradient(180deg, #829963, #BFCBA4);}
	76%	{background: linear-gradient(216deg, #829963, #BFCBA4);}
	77%	{background: linear-gradient(252deg, #829963, #BFCBA4);}
	78%	{background: linear-gradient(288deg, #829963, #BFCBA4);}
	79%	{background: linear-gradient(324deg, #829963, #BFCBA4);}
	80% {background: linear-gradient(360deg, #829963, #BFCBA4);}
	81%	{background: linear-gradient(36deg, #639964, #A8CBA4);}
	82%	{background: linear-gradient(72deg, #639964, #A8CBA4);}
	83%	{background: linear-gradient(108deg, #639964, #A8CBA4);}
	84%	{background: linear-gradient(144deg, #639964, #A8CBA4);}
	85%	{background: linear-gradient(180deg, #639964, #A8CBA4);}
	86%	{background: linear-gradient(216deg, #639964, #A8CBA4);}
	87%	{background: linear-gradient(252deg, #639964, #A8CBA4);}
	88%	{background: linear-gradient(288deg, #639964, #A8CBA4);}
	89%	{background: linear-gradient(324deg, #639964, #A8CBA4);}
	90% {background: linear-gradient(360deg, #639964, #A8CBA4);}
	91%	{background: linear-gradient(36deg, #639985, #A4CBB8);}
	92%	{background: linear-gradient(72deg, #639985, #A4CBB8);}
	93%	{background: linear-gradient(108deg, #639985, #A4CBB8);}
	94%	{background: linear-gradient(144deg, #639985, #A4CBB8);}
	95%	{background: linear-gradient(180deg, #639985, #A4CBB8);}
	96%	{background: linear-gradient(216deg, #639985, #A4CBB8);}
	97%	{background: linear-gradient(252deg, #639985, #A4CBB8);}
	98%	{background: linear-gradient(288deg, #639985, #A4CBB8);}
	99%	{background: linear-gradient(324deg, #639985, #A4CBB8);}
	100% {background: linear-gradient(360deg, #639985, #A4CBB8);}
}

@keyframes spin
{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes moveUpAndDown
{
	0% {transform: translateY(0%);}
	100% {transform: translateY(100%);}
}

@keyframes fadeIn
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut
{
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes shakeCocktail
{
	0% {transform: translateY(0%);}
	100% {transform: translateY(15%);}
}

/*PANTALLA INTRODUCTORIA*/

.intro
{
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 65%;
	animation: changeColor 15s infinite ease-in-out;
}

.intro>h1
{
	font-size: 2.8em;
	width: 8.3%;
	float: left;
	color: #A60300;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 3s infinite alternate;
}

.intro>h2
{
	font-size: 2.6em;
	width: 8.3%;
	float: left;
	color: #CB4302;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 2.9s infinite alternate;
}

.intro>h3
{
	font-size: 2.4em;
	width: 8.3%;
	float: left;
	color: #B27F05;
	text-shadow: 5.5px 3px rgba(0, 0, 0, 0.7);
	animation: moveUpAndDown 2.8s infinite alternate;
}

.intro>h4
{
	font-size: 2.2em;
	width: 8.5%;
	float: left;
	color: #5C0C35;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.8);
	animation: moveUpAndDown 3.1s infinite alternate;
}

/*MENÚS*/

#loader
{
	width: 20%;
	height: 20%;
	float: right;
	top: 40%;
	left: 40%;
	position: fixed;
	animation: spin 1.5s linear infinite;
	z-index: 10;
}

.bebidas
{
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(45deg, #638D99, #A4C7CB);
}

.imagen
{
	width: 25%;
	height: 20%;
	position: relative;
	top: 5%;
	bottom: 5%;
	left: 1.5%;
	right: 10%;
	float: left;
	margin: 3%;
	border: 3px solid rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 30%;
}

.imagenPrincipal
{
	width: 100%;
	height: 40%;
	position: relative;
	top: 0;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 10% 20%;
}

.imagenCoctel
{
	width: 15%;
	height: 10%;
	position: relative;
	left: 5%;
	margin-right: 10%;
	float: left;
	border: 3px solid rgba(0, 0, 0, 0.6);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
	border-radius: 10%;
	background: white;
}

.imagenCoctel+p
{
	width: 70%;
	height: 10%;
	position: relative;
	margin-top: 5%;
	text-align: left;
}

#receta
{
	width: 80%;
	height: 80%;
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 10%;
	top: 5%;
	padding-left: 8%;
	box-sizing: border-box;
	background: #F1E599;
	box-shadow: 5px 5px 5px 0px rgba(139, 153, 126, 0.3);
	border-radius: 0 0 5% 0;
}

#receta>h1
{
	text-align: center;
	font-weight: bold;
}

.ingredientes, .preparacion
{
	width: 100%;
	height: 40%;
	position: relative;
	border-top: 1px solid rgb(139, 153, 126);
	margin-top: 3%;
}

#btnPlay
{
	width: 40%;
	height: 10%;
	position: fixed;
	left: 30%;
	bottom: 5%;
	background: green;
	border-radius: 45%;
	border: none;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.volver
{
	width: 12%;
	height: 8%;
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
	margin: none;
	border-radius: 50%;
}

/*JUEGO*/

#estanteria
{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	padding-top: 5%;
	padding-bottom: 5%;
	box-sizing: border-box;
	background: linear-gradient(#A4C7CB, #638D99);
}

.ingrediente
{
	width: 32%;
	height: 50%;
	margin: 0.5%;
	float: left;
}

#mesa
{
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 10%;
	background: linear-gradient(#638D99, #A4C7CB);
}

#recipiente
{
	width: 60%;
	height: 90%;
	position: relative;
	float: left;
	margin-left: 20%;
	margin-top: 5%;
}

footer
{
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	background: gray;
}

/*Modal*/

#modal
{
	display: none;
	position: fixed;
	z-index: 9999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content
{
	width: 50%;
	height: 15%;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 15% auto;
	margin-top: 30%;
	padding: 5%;
	border: 1px solid #888888;
	width: 80%;
	text-align: center;
}

.close
{
	color: black;
	float: right;
	font-size: 1em;
	font-weight: bold;
	position: relative;
	bottom: 5%;
	right: 35%;
}